@import "../../app.scss";

.contact{
    // > *{
    //     overflow-x: visible;
    // }
    min-height: calc(#{$page-height});
    .title-contact{
        color: white;
        text-align: center;
        font-size: 48px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .msg-signal{
        text-align: center;
        font-size: 18px;
        &.error{
            color: red;
        }
        &.success{
            color: rgb(107, 236, 100);
        }
    }

}