$page-height : 100vh;
$toppx: 80px;
$main-color: #232A2E;
$text-color: white;
$open-menu-ani: 0.5s;
$hover-ani: 1s;

.app{
    height: 100vh;
    .sections{
        width: 100%;
        // height: calc(#{$page-height} - #{$toppx});
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(40,40,40,0.75) 50%, rgba(0,0,0,1) 100%),url("./resources/web-dev-bg-page.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        position: relative;
        top: $toppx;
        scroll-snap-type: y mandatory;

        > *{
            width: 100vw;
            // height: calc(#{$page-height} - #{$toppx});
            scroll-snap-align: start;
        }
    }
}